main {
  flex: 8;
  padding: 0 32px 0 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  align-items: stretch;
  text-align: center;

  h1 {
    color: #3e2810;
    font-size: 24px;
    margin: 64px 0 24px;
    font-family: 'Poppins', sans-serif;
  }

  #see-more-btn {
    font-family: 'Poppins', sans-serif;
    color: #fffff0;
    border: none;
    background-color: #aca564;
    border-radius: 4px;
    padding: 0 4px;
    cursor: pointer;
  }

  #see-more-btn:hover {
    background: #928c50;
  }
}
