* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fffff0;
  color: #3e2810;
}

body,
input,
link,
button,
textarea {
  color: #3e2810;
  font: 400 16px 'Roboto', sans-serif;
}
